@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F1FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.75rem;
  padding: 0.62rem 1.5rem;
  border: none;
  border-radius: 1.75rem;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.7;
}

.btn-1 {
  background: #13183F;
}

.btn-2 {
  background: linear-gradient(#F02AA6, #FF6F48);
}

.btn-3 {
  background: linear-gradient(#4851FF, #F02AA6);
}

header {
  width: 85vw;
  max-width: 70rem;
}
header nav {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  max-width: 5.563rem;
}
header nav a img {
  width: 100%;
  display: block;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: #F74780;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #FFA7C3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 85vw;
  max-width: 70rem;
}
main .cta-heading {
  display: flex;
  flex-direction: column;
}
main .cta-heading .cta-description h1 {
  margin-top: 1.875rem;
  color: #13183F;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
}
main .cta-heading .cta-description p {
  margin-top: 1.625rem;
}
main .cta-heading .cta-description button {
  margin-top: 1.5rem;
}
main .cta-heading .cta-image {
  width: 100%;
}
main .cta-heading .cta-image img {
  display: block;
  width: 100%;
}

.pop_courses {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  row-gap: 2.75rem;
  max-width: 1110px;
}
.pop_courses .pop_heading {
  grid-row: 1/2;
  background: linear-gradient(#F02AA6, #FF6F48);
  padding: 1.5rem 1.75rem;
  border-radius: 0.625rem;
}
.pop_courses .pop_heading p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}
.pop_courses .card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.625rem;
  padding: 1.75rem;
  position: relative;
}
.pop_courses .card img {
  max-width: 3.5rem;
  position: absolute;
  top: -1.75rem;
  left: 1.75rem;
}
.pop_courses .card h2 {
  margin-top: 1.5rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
}
.pop_courses .card p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1rem;
  color: #83869A;
}
.pop_courses .card a {
  margin-top: 1.5rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #13183F;
}
footer nav {
  display: flex;
  width: 85vw;
  padding: 2.25rem 0;
  max-width: 70rem;
  justify-content: space-between;
  align-items: center;
}
footer nav a {
  max-width: 5.563rem;
}
footer nav a img {
  width: 100%;
  display: block;
}

@media (min-width: 48rem) {
  main .cta-heading {
    margin: 3.12rem 0 0 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  main .cta-heading .cta-description {
    flex-grow: 1;
    min-width: 25rem;
    margin-bottom: 11.625rem;
  }
  main .cta-heading .cta-image {
    min-width: 300px;
    flex-grow: 1;
  }
  main .cta-heading .cta-image img {
    z-index: -5;
    max-width: 40rem;
    position: absolute;
    top: -95px;
    right: -260px;
  }
  .pop_courses {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3vw;
    row-gap: 3.75rem;
  }
  .pop_courses .pop_heading {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .pop_courses .animation {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .pop_courses .design {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .pop_courses .photography {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .pop_courses .crypto {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .pop_courses .business {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
@media (min-width: 80rem) {
  main .cta-heading {
    margin-top: 186px;
  }
  main .cta-heading .cta-description {
    flex-grow: 1;
    min-width: 25rem;
    margin-bottom: 226px;
  }
  main .cta-heading .cta-image {
    min-width: 300px;
    flex-grow: 1;
    overflow: hidden;
  }
  main .cta-heading .cta-image img {
    z-index: -5;
    max-width: 990px;
    position: absolute;
    top: -20%;
    right: -15%;
  }
  .pop_courses {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 5.25rem;
  }
  .pop_courses .pop_heading {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .pop_courses .animation {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .pop_courses .design {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .pop_courses .photography {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .pop_courses .crypto {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .pop_courses .business {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}

/*# sourceMappingURL=index.css.map */
