* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    //test
    background-color: #F0F1FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}