@use 'var';

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var.$dark-purple;
    nav {       
        display: flex;
        width: 85vw;
        padding: 2.25rem 0;
        max-width: 70rem;       
        justify-content: space-between;
        align-items: center;

        a {
            max-width: 5.563rem;
            img{
                width: 100%;
                display: block;
            }
        }        
    }
}