@use 'var';


header {
    width: 85vw;
    max-width: 70rem;
    nav {       
        display: flex;       
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;

        a {
            max-width: 5.563rem;
            img{
                width: 100%;
                display: block;
            }
        }        
    }
}