@use 'var';

p {
    font-family: var.$jakarta-font;
    font-size: 1rem;
    font-weight: 300;
}

a {
    font-family: var.$jakarta-font;
    font-weight: 700;
    color: var.$pink;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var.$light-pink;
}

main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    width: 85vw;
    max-width: 70rem;

    .cta-heading { 
        display: flex;
        flex-direction: column;
        .cta-description {
            h1 {
                margin-top: 1.875rem;
                color: var.$dark-purple;
                font-family: var.$jakarta-font;
                font-size: 2.5rem;
            }
    
            p {
                margin-top: 1.625rem;
            }
    
            button {
                margin-top: 1.5rem;
            }            
        }

        .cta-image {
            width: 100%;
            img {
                display: block;
                width: 100%;
                
            }
        }
        
    }
}


.pop_courses {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    row-gap: 2.75rem;
    max-width: 1110px;

    .pop_heading {
        grid-row: 1 / 2;
        background: var.$g-orange;
        padding: 1.5rem 1.75rem;
        border-radius: 0.625rem;
        p {            
            font-family: var.$jakarta-font;            
            color: var.$white;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: var.$white;
        border-radius: 0.625rem;
        padding: 1.75rem;
        position: relative;
        img {
            max-width: 3.5rem;
            position: absolute;
            top: -1.75rem;
            left: 1.75rem;
        }
        h2 {
            margin-top: 1.5rem;
            font-family: var.$jakarta-font;
            font-size: 1.25rem;
        }
        p {
            font-family: var.$jakarta-font;
            font-weight: 400;
            line-height: 1.625rem;
            margin-top: 1rem;
            color: var.$gray;
        }
        a {
            margin-top: 1.5rem;
        }
    }
}