@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700;800&display=swap');


//Colors
$dark-purple: #13183F;
$white: #ffffff;
$pink: #F74780;
$light-pink: #FFA7C3;
$gray: #83869A;

//gradients
$g-orange: linear-gradient(#F02AA6, #FF6F48);
$g-blue: linear-gradient(#4851FF, #F02AA6);

//Font-Family
$jakarta-font: 'Plus Jakarta Sans', sans-serif;